.not-found{
    height: 100vh;
}
.not-found-big-title{
    font-weight: bold;
    font-size: 150px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(to right, red , #ff0074);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
}
.not-found-sm-title{
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: dimgray;
}
.not-found p{
    color: dimgray;
    font-size: 16px;
}
.return-home-btn{
    background-image: linear-gradient(to right, red , #ff0074);
    border-radius: 50px;
    color: white;
    font-weight: bold;
}
.report-btn{
    background-image: linear-gradient(to right, #00ffa2 , #004eff);
    border-radius: 50px;
    color: white;
    font-weight: bold;
}