
.navbar .header-logo{
    height: 70px;
    cursor: pointer;
    filter: invert(100);
}
.navbar .nav-link{
    color: white !important; 
    font-weight: 600;
    font-size: 18px;
    margin: 10px 15px;
}
.navbar .button{
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 600;
    margin-right: -25px;
}
